.cardContainer {
  width: 450px;
  display: flex;
  margin: 10px;
}

.basketCardContainer {
  width: 100%;
  display: flex;
  margin: 0px 0px 10px 0px;
}

.MuiPaper-root {
  background-color: rgba(0, 0, 0, 0) !important;
}

.details {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.content {
  flex: 1 0 auto;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cover {
  width: 200px;
  height: 200px;
}

.cover-basket {
  width: 100px;
  height: 100px;
}

.controls {
  display: flex;
  align-items: center;
  padding: 0px 0px 8px 8px;
}

.full {
  display: flex;
}

.mobile {
  display: none;
}

@media (max-width: 576px) {
  .full {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .basketCardContainer {
    width: 280px;
  }

  .MuiIconButton-root {
    padding: 0px;
  }
}
/* БОЛЬШАЯ */
@media (min-width: 576px) {
  .basketCardContainer {
    width: 100%;
    display: flex;
  }

  .full {
    display: flex;
  }

  .mobile {
    display: none !important;
  }
}
