.cardContainer {
  width: 450px;
  display: flex;
  margin: 10px;
}

.MuiPaper-root {
  background-color: rgba(0, 0, 0, 0) !important;
}

.details {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.content {
  flex: 1 0 auto;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cover {
  width: 200px;
}

.controls {
  display: flex;
  align-items: center;
  padding: 0px 0px 8px 8px;
}
