.cardContainer {
  width: 450px;
  display: flex;
  margin: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.content {
  flex: 1 0 auto;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cover {
  width: 200px;
}
