.video-container {
  width: 600px;
}

.audio-container {
  width: 300px;
}

@media (max-width: 576px) {
  .video-container {
    width: 300px;
    margin-bottom: 10px;
  }
}

/* БОЛЬШАЯ */
@media (min-width: 576px) {
}
