@media (max-width: 576px) {
  .full {
    display: none;
  }

  .mobile {
    display: block;
  }
}

@media (min-width: 576px) {
  /* .full {
    display: none;
  }

  .mobile {
    display: block;
  } */
}
