.page {
  height: 100vh;
}

.search {
  padding: 10px 25px;
  display: flex;
  align-items: center;
}

.divider {
  height: 28px;
  margin: 4px;
}

input {
  margin: 0px 0px 8px 0px;
  flex: 1;
}

@media (max-width: 576px) {
  .search {
    padding: 10px 10px;
  }
}

@media (min-width: 576px) {
  .search {
    padding: 10px 10px;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 36px;
    line-height: 120%;
  }

  .description {
    font-size: 18px;
    line-height: 120%;
  }
}

@media (min-width: 992px) {
  .title {
    font-size: 36px;
    line-height: 120%;
  }

  .description {
    font-size: 18px;
    line-height: 120%;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 120%;
  }

  .description {
    font-size: 18px;
    line-height: 120%;
  }
}
