.cover {
  width: 200px;
}

.full-page {
  padding: 5vh 5vw;
  height: 100%;
}

.center {
  display: flex;
  justify-content: space-around;
}

.poster-video {
  width: 300px;
  height: 450px;
  background-size: contain;
}

.poster-sound {
  width: 450px;
  height: 450px;
  background-size: contain;
}

.name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-container {
  width: 600px;
}

.audio-container {
  width: 300px;
}

.ls0 {
  letter-spacing: 0em !important;
}

.mobile-page {
  display: none;
}

@media (max-width: 576px) {
  .name-container {
    margin-top: 20px;
  }
  .search {
    padding: 10px 10px;
  }

  .poster-video {
    width: 320px;
    height: 450px;
    background-size: contain;
  }

  .poster-sound {
    width: 320px;
    background-size: contain;
  }

  .video-container {
    width: 300px;
    margin-bottom: 10px;
  }

  .full-page {
    display: none;
  }

  .mobile-page {
    display: block;
  }

  .ls0 {
    width: 280px;
  }
}

/* БОЛЬШАЯ */
@media (min-width: 576px) {
}
